* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

.container {
    width: 70%;
    margin: 0 auto;
    border: 1px;
    padding: 20px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 24%; /* Define a largura da imagem (opcional) */
}

h1{
    text-align: center;
    text-transform: uppercase;
    margin-top: 60px;   /* Espaço acima do h1 */
    margin-bottom: 60px; /* Espaço abaixo do h1 */
}

h3 {
    text-align:left;
    text-transform: uppercase;
}

form {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}

label {
    margin-top: 10px;
}

input {
    width: 35%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 0;
    border-bottom: 2px solid rgb(0, 0, 0);
    outline: 0;
    flex-grow: 1;  
    min-width: 0;  
}
/* .large-input {
    width: 0%;
}
*/

.checkbox-group {
    margin-top: 20px;
}

button {
    width: 100px;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

input::placeholder {
    color: black; /* Muda a cor do texto placeholder */
}

#ddd{
    max-width: 30px;
    width: 1%;
    border: none;
    border-bottom: 2px solid black;
    text-align: center;
    margin-right: 5px;
}
.ddd-parentheses {
    font-weight: normal;
    margin: 0 5px;
}

.large-input {
    width: 60%;
}
.medium-larger-input {
    width: 30%;
}
.medium-input {
    width: 30%;
}
.short-input {
    width: 18%;
}
.final-input {
    width: 100%;
}